<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">GoT Ultimate Guide</a>
      <form class="d-flex" role="search" action="/search" method="GET">
          <label for="searchInput" class="visually-hidden">Search</label>
          <input id="searchInput" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="id">
          <button type="submit" class="btn btn-outline-light">Search</button>
      </form>
  </div>
</nav>