<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">GoT Ultimate Guide</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
        <button type="submit" class="btn btn-outline-light">Search</button>
      </form>
    </div>
  </nav>