<%- include("partials/header"); -%>

<%- include("partials/navbar"); -%>

<h3>We found this according to your search</h3>

<% if (personajes.length > 0) { %>
    <%- include("partials/carrusel"); -%>
<% } else { %>
    <p>Nothing found</p>
<% } %>

<%- include("partials/footer"); -%>