<%- include("partials/header"); -%>

<%- include("partials/navbar"); -%>

<h1>Characters</h1>

<%if (personajes){ %>
    <%- include("partials/carrusel"); -%>
<%}%>

<%- include("partials/footer"); -%>